@charset "UTF-8";

.article {
  max-width: 700px;
  padding: 2rem 3rem;
  text-align: justify;
  color: #fff;
  text-transform: capitalize;
}

.article-title {
  font-size: 2rem;
}

.article-desp {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}

.nav-ul {
  position: fixed;
  right: 2rem;
  top: 50%;
  margin-top: -117px;
}

.nav-li {
  margin: 1rem 0;
}

.nav-link {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  text-indent: -9999px;
  /* opacity: .5; */
  transition-duration: .3s;
}

.nav-li:hover {
  opacity: .8;
}

.nav-link-index {
  background-color: #000;
}

.nav-link-current {
  opacity: 1;
}

.nav-link-acrobat {
  background-color: #333;
}

.nav-link-premiere {
  background-color: #dd1f8e;
}

.mg-top-4 {
  margin-top: 4rem;
}

/* grid----------------------- */

.grid {
  display: grid;
  /* grid-template-columns: 33.3333% 33.3333% 33.3333%; */
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card-img {
  max-width: 100%;
  height: auto;
}


/* card-overlay----------------------------- */

.card {
  position: relative;
}

.card-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .3;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
}

.card-overlay-hover::after {
  opacity: 0;
}

.card-overlay-hover:hover::after {
  opacity: .3;
}


.card-icon .card-icon-wrapper {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon-eye {
  font-size: 2.4rem;
  color: #fff;
}

.card-icon-hover .card-icon-eye {
  transform: scale(0);
  transition-duration: .3s;
}

.card-icon-hover:hover .card-icon-eye {
  transform: scale(1);
}

.ani-try {
  animation: ani-try .5s ease-in infinite ;
}
@keyframes ani-try {
  from{
    transform: scale(1);
  }
  to{
     transform: scale(1.2);
  }
}